@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
}

body{
background-color: #F1F1F1;
}

#mainDiv{
background-color:#F1F1F1; 
min-height: 700px;
}

#mainHide{
background-color:#F1F1F1; 
min-height: 20px;
}

.but{
	background-color:#659BE0;  
	color:#F0F0F0; 
}

.srcBut{
/* 	background: url(img/qry_icon.png) no-repeat left center; */
	background-color:#3598DC;  
	color:#F0F0F0; 
}

.resetBut{
/* 	background: url(img/qry_icon.png) no-repeat left center; */
    border: 1px solid #BBBBBB;
    color:#000000;
}

.butSub{
	display:block;
	font-size:14px;
	line-height:35px;
	width:100px;
	height:35px; 
	margin-top: 10px;
}

.fileBut {
	position: relative;
    font-size:14px;
	display:block;
	width:80px;
	height:35px; 
	line-height:35px;
	margin-top: 4px;
    cursor:pointer;
    background-color:#659BE0;  
	color:#F0F0F0; 
}

.fileBut input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    cursor:pointer;
}

.but,.srcBut,.resetBut,.butSub,.fileBut{
	text-align:center; 
	text-decoration:none;
/* 	border-left: 2px solid #C0C0B4; */
/* 	border-top: 2px solid #C0C0B4; */
/* 	border-right: 2px solid #676565; */
/* 	border-bottom: 2px solid #676565; */
	display:block;
	width:60px;
	margin-top: 4px;
	font-size:12px;
	height:26px; 
	line-height:26px;
/* 	font-weight:bold; */
}

.but:hover,.srcBut:hover,.resetBut:hover,.butSub:hover,.fileBut:hover{
	text-align:center; 
	text-decoration:none;
/* 	border-left: 2px solid #676565; */
/* 	border-top: 2px solid #676565; */
/* 	border-right: 2px solid #C0C0B4; */
/* 	border-bottom: 2px solid #C0C0B4; */
	margin-top: 4px;
	font-size:12px;
	height:26px; 
	line-height:26px;
}

select:focus,input:focus,textarea:focus{
	/*border-radius:10px;*/
	outline:none;
	box-shadow : inset 0 0 3px #a0a0a0;
}

/*select option{
	/*-webkit-appearance       : none;
    -moz-appearance          : none;
    appearance               : none;
    border:2px solid #C0C0B4;
    outline:none;
}*/


