@CHARSET "UTF-8";
.PassWordBackBG{
	border: 1px solid #52A0EA;
	width: 100%;
	height:100%;
	position: fixed;
	top: 0px;
	background-color:#000000;
	z-index:999;
	filter:alpha(Opacity=30);
	-moz-opacity:0.3;
	opacity: 0.3;
}

.PassWordBackBack{
	width: 100%;
	position: fixed;
	top: 100px;
	z-index:1000;
}

.PassWordBack{
	position: relative;
	order: 1px solid #52A0EA;
	width: 900px;
	height:180px;
	/*background-color:#FFFFFF;*/
	z-index:1000;
	margin: 0 auto;
}

.PassWordBack .pop_hide{
	position: absolute;
	right:0px;
	width:900px;
	background-color:#F1F4F7;
/* 	border: 2px solid #1890FF; */
	height: 40px;
	overflow-x:hidden;
}

.PassWordBack .pop_con{
	position: absolute;
	top:40px;
	right:0px;
	width:900px;
	background-color:#FFFFFF;
/* 	border: 2px solid #1890FF; */
	height: 700px;
	overflow-x:auto;
}

.PassWordBack .pop_foot{
	position: absolute;
	top : 740px;
	right:0px;
	width:900px;
	background-color:#FFFFFF;
	border-top: 2px solid #F1F4F7;
	height: 42px;
	overflow-x:hidden;
}

.PassWordBack .pop_con dd,.PassWordBack .pop_hide dd,.PassWordBack .pop_foot dd{
	position: relative;
	padding-left: 30px;
	height:40px; 
	font-size:14px;
}

.PassWordBack .pop_con dd font{
	position: absolute;
	/*color:#52A0EA;*/ 
	bottom: 5px;
	font-size:14px;
}

.PassWordBack .pop_con dd .redStart{
	color:red;
	width:10px;
	bottom: 0px;
	font-size:14px;
}

.PassWordBack .pop_con .cut-offRule{
	padding-left: 30px;
	line-height:13px; 
	height:13px; 
	font-size:14px;
	color:red;
}

.PassWordBack .pop_hide .page_tital{
	position: relative;
	padding-left: 10px;
	line-height:40px; 
	height:40px; 
	font-size:16px;
	background-color:#F1F4F7;
	color:#000000;
	font-weight: bold;
}

.PassWordBack .pop_con .groud_tital{
	position: relative;
	padding-left: 10px;
	line-height:30px; 
	height:30px; 
	font-size:16px;
	background-color:#E0EAF5;
	border-bottom: 1px solid #D1D1D1;
	color:#2A82E4;
	font-weight: bold;
}

.PassWordBack .pop_hide .page_tital .canBut{
	position:absolute;
	text-decoration:none;
	height: 40px;
	width: 40px;
	font-size: 20px;
	right:0px;
	bottom:0px;
	line-height:38px;
	text-align: center;
	background-color:#F1F4F7;
	border: 0px;
	color:#000000; 
	font-weight:bold;
}

.PassWordBack .pop_hide .page_tital .canBut:hover{
	text-decoration:none;
	border-left: 2px solid #C0C0B4;
	border-top: 2px solid #C0C0B4;
	border-right: 2px solid #676565;
	border-bottom: 2px solid #676565;
	background-color:#52A0EA; 
	right:0px;
}

/* .PassWordBack .pop_con dd{ */
/* 	position: relative; */
/* 	height:20px;  */
/* } */

/* .PassWordBack .pop_con dd font{ */
/* 	position: absolute; */
/* 	/*color:#52A0EA;*/  */
/* 	bottom: 0px; */
/* 	font-size:14px; */
/* } */

.PassWordBack .pop_con dd div a{
	font-size:14px;
	display:block;
	width:80px;
	height:26px; 
	line-height:26px;
	text-align:center; 
	text-decoration:none; 
	margin-top: 7px;
	font-weight:bold;
	
	color:#52A0EA; 
	border-left: 1px solid #C0C0B4;
    border-top: 1px solid #C0C0B4;
    border-right: 1px solid #676565;
    border-bottom: 1px solid #676565;
}

.PassWordBack .pop_con dd div .chooseA{
	/*background-color:#DCEBFC; 
	color:#52A0EA; 
	border: 1px solid #52A0EA;*/
	
	color:#FFFFFF; 
	border-left: 1px solid #676565;
    border-top: 1px solid #676565;
    border-right: 1px solid #C0C0B4;
    border-bottom: 1px solid #C0C0B4;
    background-color: #52A0EA;
}

.PassWordBack .pop_con input{
	position: absolute;
	border: 1px solid #DFE3EA;
	height:26px;
	width:535px;
	bottom: 0px;
	padding-left: 10px;
}

.PassWordBack input[type='checkbox']{
	border: 1px solid #DFE3EA;
	height:13px;
	width:13px;
	bottom: 0px;
	margin-left: 3px;
	margin-right: 3px;
}

.PassWordBack .pop_con textarea{
	position: absolute;
	border: 1px solid #DFE3EA;
	/*height:30px;*/
	width:535px;
	bottom: 0px;
	padding-left: 10px;
}

.PassWordBack .pop_con .textareaShow{
	position: absolute;
	border: 1px solid #FFFFFF;
	/*height:30px;*/
	width:535px;
	bottom: 0px;
	padding-left: 0px;
}

.PassWordBack .pop_con select{
	position: absolute;
	border: 1px solid #DFE3EA;
	height:26px;
	width:535px;
	bottom: 0px;
	padding-left: 10px;
}

.PassWordBack .pop_con .fileBut {
	width:535px;
}

.PassWordBack .pop_con .errorInp, .alterPawCon .pop_con .errorInp{
	border: 1px solid red;
}

.PassWordBack .pop_con .passInp, .alterPawCon .pop_con .passInp{
	border: 1px solid #8DE039;
}

.PassWordBack .pop_con a{
	display:block;
	text-decoration:none; 
	/*color:#52A0EA;*/
	bottom:0px;
}

.PassWordBack .pop_con .showI{
	position:absolute;
	display:inline-block;
	line-height:0; 
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
	border-color: #2A82E4 transparent transparent transparent;
	top:10px;
	right:30px;
	cursor:pointer;
}

.PassWordBack .pop_con .chosI{
	position:absolute;
	display:inline-block;
	line-height:0; 
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
	border-color: transparent transparent #2A82E4 transparent;
	top:0px;
	right:30px;
	cursor:pointer;
}

.PassWordBack .subA{
	text-align:center; 
	text-decoration:none;
	height:30px; 
	line-height:30px;
	font-size:14px;
	width:60px;
	background-color:#659BE0;  
	color:#F0F0F0; 
	margin-top: 5px;
}

.PassWordBack .subA:hover{
	text-align:center; 
	text-decoration:none;
	background-color:#F0F0F0;  
	color:#659BE0; 
}

.PassWordBack .canA{
	text-align:center; 
	text-decoration:none;
	height:30px; 
	line-height:30px;
	font-size:14px;
	width:60px;
	background-color:#ED6B75;  
	color:#F0F0F0; 
	margin-top: 5px;
}

.PassWordBack .canA:hover{
	text-align:center; 
	text-decoration:none;
	background-color:#F0F0F0;  
	color:#ED6B75; 
}