@CHARSET "UTF-8";
.PassWordBackBG{
	border: 1px solid #52A0EA;
	width: 100%;
	height:100%;
	position: fixed;
	top: 0px;
	background-color:#000000;
	z-index:999;
	filter:alpha(Opacity=30);
	-moz-opacity:0.3;
	opacity: 0.3;
}

.PassWordBackBack{
	width: 100%;
	position: fixed;
	top: 100px;
	z-index:1000;
}

.PassWordBack{
	position: relative;
	order: 1px solid #52A0EA;
	width: 600px;
	height:180px;
	/*background-color:#FFFFFF;*/
	z-index:1000;
	margin: 0 auto;
}

.PassWordBack dl{
	position: absolute;
	right:0px;
	width:600px;
	background-color:#F0F0F0;
	border: 2px solid #1890FF;
	height: 700px;
	overflow-x:auto;
}
.PassWordBack dl dd{
	position: relative;
	padding-left: 30px;
	height:40px; 
	font-size:14px;
}

.PassWordBack dl dd font{
	position: absolute;
	/*color:#52A0EA;*/ 
	bottom: 13px;
	font-size:14px;
}

.PassWordBack dl dd .redStart{
	position: absolute;
	color:red;
	width10px;
	bottom: 13px;
	font-size:14px;
}

.PassWordBack dl .cut-offRule{
	padding-left: 30px;
	line-height:13px; 
	height:13px; 
	font-size:14px;
	color:red;
}

.PassWordBack dl .page_tital{
	position: relative;
	padding-left: 10px;
	line-height:30px; 
	height:30px; 
	font-size:16px;
	background-color:#2A82E4;
	color:#2A82E4;
	font-weight: bold;
}

.PassWordBack dl .groud_tital{
	position: relative;
	padding-left: 10px;
	line-height:30px; 
	height:30px; 
	font-size:16px;
	background-color:#E0EAF5;
	color:#2A82E4;
	font-weight: bold;
}

.PassWordBack dl .page_tital .canBut{
	position:absolute;
	height: 30px;
	width: 30px;
	font-size: 20px;
	right:0px;
	bottom:0px;
	line-height:28px;
	text-align: center;
	background-color:#2A82E4;
	border: 0px;
	color:#FFFFFF; 
	font-weight:bold;
}

.PassWordBack dl .page_tital .canBut:hover{
	border-left: 2px solid #C0C0B4;
	border-top: 2px solid #C0C0B4;
	border-right: 2px solid #676565;
	border-bottom: 2px solid #676565;
	background-color:#D3E2F3; 
	right:0px;
}

.PassWordBack dl .tital{
	position: relative;
	height:20px; 
}

.PassWordBack dl .tital font{
	position: absolute;
	/*color:#52A0EA;*/ 
	bottom: 0px;
	font-size:14px;
}

.PassWordBack dl dd div a{
	font-size:14px;
	display:block;
	width:80px;
	height:26px; 
	line-height:26px;
	text-align:center; 
	text-decoration:none; 
	margin-top: 7px;
	font-weight:bold;
	
	color:#D3E2F3; 
	border-left: 1px solid #C0C0B4;
    border-top: 1px solid #C0C0B4;
    border-right: 1px solid #676565;
    border-bottom: 1px solid #676565;
}

.PassWordBack dl dd div .chooseA{
	/*background-color:#DCEBFC; 
	color:#52A0EA; 
	border: 1px solid #D3E2F3;*/
	
	color:#FFFFFF; 
	border-left: 1px solid #676565;
    border-top: 1px solid #676565;
    border-right: 1px solid #C0C0B4;
    border-bottom: 1px solid #C0C0B4;
    background-color: #D3E2F3;
}

.PassWordBack dl input{
	border: 1px solid #D3E2F3;
	height:30px;
	width:535px;
	margin-top: 4px;
	padding-left: 10px;
}

.PassWordBack input[type='checkbox']{
	border: 1px solid #D3E2F3;
	height:13px;
	width:13px;
	margin-top: 10px;
	margin-left: 3px;
	margin-right: 3px;
}

.PassWordBack dl textarea{
	border: 1px solid #D3E2F3;
	/*height:30px;*/
	width:535px;
	margin-top: 4px;
	padding-left: 10px;
}

.PassWordBack dl select{
	border: 1px solid #D3E2F3;
	height:30px;
	width:535px;
	margin-top: 4px;
	padding-left: 10px;
}

.PassWordBack dl .fileBut {
	width:535px;
}

.PassWordBack dl .errorInp, .alterPawCon dl .errorInp{
	border: 1px solid red;
}

.PassWordBack dl .passInp, .alterPawCon dl .passInp{
	border: 1px solid #8DE039;
}

.PassWordBack dl a{
	display:block;
	text-decoration:none; 
	/*color:#52A0EA;*/
	bottom:5px;
}

.PassWordBack dl .showI{
	position:absolute;
	display:inline-block;
	line-height:0; 
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
	border-color: #D3E2F3 transparent transparent transparent;
	top:10px;
	right:30px;
	cursor:pointer;
}

.PassWordBack dl .chosI{
	position:absolute;
	display:inline-block;
	line-height:0; 
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
	border-color: transparent transparent #D3E2F3 transparent;
	top:0px;
	right:30px;
	cursor:pointer;
}

.PassWordBack .subA{
	border-left: 2px solid #C0C0B4;
	border-top: 2px solid #C0C0B4;
	border-right: 2px solid #676565;
	border-bottom: 2px solid #676565;
	background-color:#3B85D8; 
	color:#F0F0F0;
	text-decoration:none; 
	height:35px; 
	line-height:35px;
	text-align:center; 
	width:535px;
	font-weight: bold;
}

.PassWordBack .subA:hover{
	border-left: 2px solid #676565;
	border-top: 2px solid #676565;
	border-right: 2px solid #C0C0B4;
	border-bottom: 2px solid #C0C0B4;
	background-color:#F0F0F0;
	color:#3B85D8;
}