<meta name="content-type" content="text/html; charset=UTF-8">
	
	<script type="text/javascript" src="views/history/revokeHistory.js?v=1"></script>
	
	<dl align="left" style="height: 30px;">
		<dd id="page_tital" class="page_tital"></dd>
	</dl>
    <dl align="left" style="top: 30px;border-top:0px;">
    	<dd id="groud_tital" class="groud_tital">历史清单：</dd>
		<dd class="cut-offRule" ></dd>
		<dd>
			<font style="width: 126px;text-align: right;">提供部门：</font>
			<font id="fhr_provideId" style="left:170px;"></font>
		</dd>
		<dd>
			<font style="width: 126px;text-align: right;">资源名称：</font>
			<font id="fdr_name" style="left:170px;"></font>

		</dd>
		<dd style="height: 70px;">
			<font style="height: 50px;width: 126px;text-align: right;">需求内容：</font>
			<textarea class="textareaShow" style="left:170px;width: 675px;"  rows="3" id="ftr_textareaShow" readonly="readonly" ></textarea>
		</dd>
		<dd>
			<font style="width: 126px;text-align: right;">数据周期：</font>
			<font id="ftr_timeT" style="left:170px;"></font>
		</dd>

		<dd >
			<font style="width: 126px;text-align: right;">处理结果：</font>
			<font id="ftr_result" style="left:170px;"></font>
		</dd>

		<dd style="height: 70px;">
			<font style="height: 40px;width: 126px;text-align: right;">处理说明：</font>
			<textarea class="textareaShow" style="left:170px;width: 675px;" rows="3" id="ftr_resultUse" readonly="readonly"></textarea>
		</dd>
		<dd>
			<font style="width: 126px;text-align: right;">处理人：</font>
			<font id="ftr_createrNameShow" style="left:170px;width:200px;"></font>
			<font style="left:460px;">处理时间：</font>
			<font id="ftr_saveTimeShow" style="left:600px;"></font>
		</dd>	
			
		<dd id="groud_tital" class="groud_tital">撤销</dd>
		<dd class="cut-offRule" ></dd>
		

		<dd style="height: 70px;">
			<font style="width: 126px;text-align: right;height: 50px; "><h style="left: 0px;height: 50px;" class="redStart"> * </h>说明：</font>
			<textarea style="left:170px;width: 675px;" rows="3" id="remark" placeholder="请输入说明"></textarea>
		</dd>
			
		<dd>
		    <a class="subA" href="javascript:" onclick="recall();" style="position:absolute;width: 20%; right:50% ">撤销</a>  
			<a class="subA" href="javascript:" onclick="cancelPopup();" style="position:absolute;width: 20%; right:20% ">取消</a>  
		</dd>
		
	</dl>

	