<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.TreeDao">

	<select id="tree" parameterType="String"  resultMap="map">
			SELECT parentCode,CODE,NAME,VALUE FROM
			(SELECT PARENT_CODE parentCode,
				CODE,
				NAME,
				 CODE VALUE,
				 SORT_ORDER
			FROM pub_region WHERE STATUS = 1
			UNION ALL
			SELECT	
				t.PARENT_CODE parentCode,
				t.ORG_CODE CODE,
				o.SHORT_NAME NAME,
				t.ORG_CODE VALUE,
				o.SORT_ORDER
			FROM pub_organ_tree t
			LEFT JOIN pub_organ o ON t.ORG_CODE = o.CODE
			WHERE o. STATUS = 1
			AND t.VIEW_CODE = "ORG_VERTICAL_VIEW") a
			WHERE parentCode = #{currIndex}
			ORDER BY SORT_ORDER ASC;
	</select>
	
	
	<resultMap id="map" type="TreePo">
		<id column="parentCode" property="parentCode"></id>
		<result column="CODE" property="code"></result>
		<result column="NAME" property="text"></result>
		<result column="VALUE" property="value"></result>
	</resultMap>

	
</mapper>