<meta name="content-type" content="text/html; charset=UTF-8">
	
	<script type="text/javascript" src="views/demand/demandDetail.js?v=1"></script>
	
	<dl align="left" class="pop_hide">
		<dd id="page_tital" class="page_tital">需求申请</dd>
	</dl>
    <dl align="left" class="pop_con">
<!--     	<dd id="groud_tital" class="groud_tital">需求申请</dd> -->
		<dd class="cut-offRule" ></dd>
		<dd>
			<font style="width: 126px;text-align: right;">信息资源需求部门</font>
			<font id="demandDepNameShow" style="left:170px;"></font>
			<font style="width: 126px;text-align: right;left:460px;">信息资源提供部门</font>
			<font id="proDepNameShow" style="left:600px;"></font>
		</dd>
		<dd>
			<font style="width: 126px;text-align: right;">需求名称</font>
			<font id="demandNameShow" style="left:170px;"></font>
			<font style="width: 126px;text-align: right;left:460px;">资源匹配关键字：</font>
			<font id="keyWordShow" style="left:600px;"></font>
		</dd>
		<dd style="height: 70px;">
			<font style="height: 50px;width: 126px;text-align: right;">需求内容<br>（须细化到数据项）</font>
			<textarea class="textareaShow" style="left:170px;width: 675px;"  rows="3" id="demantDetailShow" readonly="readonly" ></textarea>
		</dd>
		<dd>
			<font style="width: 126px;text-align: right;">期望提供方式</font>
			<font id="accessModeNameShow" style="left:170px;"></font>
			<font style="width: 126px;text-align: right;left:460px;">期望共享服务方式：</font>
			<font id="serveModeNameShow" style="left:600px;"></font>
		</dd>
		<dd>
			<font style="width: 126px;text-align: right;">期望更新频率</font>
			<font id="frequencyNameShow" style="left:170px;"></font>
		</dd>
		<dd style="height: 70px;">
			<font style="height: 40px;width: 126px;text-align: right;">用途</font>
			<textarea class="textareaShow" style="left:170px;width: 675px;" rows="3" id="demandUseShow" readonly="readonly"></textarea>
		</dd>
		<dd>
			<font style="width: 126px;text-align: right;">申请人</font>
			<font id="createrNameShow" style="left:170px;width:200px;"></font>
			<font style="width: 126px;text-align: right;left:460px;">申请时间：</font>
			<font id="saveTimeShow" style="left:600px;"></font>
		</dd>
		<dd class="cut-offRule" id="last_cut" ></dd>
		
	</dl>
	<dl align="left" class="pop_foot">
		<dd>
			<a class="canA" href="javascript:" onclick="cancelPopup();" style="position:absolute;right:30px;">关闭</a>  
		</dd>
	</dl>

	