<meta name="content-type" content="text/html; charset=UTF-8">
	
	<script type="text/javascript" src="views/demand/revokeDemand.js?v=1"></script>
	
	<dl align="left" class="pop_hide">
		<dd id="page_tital" class="page_tital">需求申请</dd>
	</dl>
    <dl align="left" class="pop_con">
		<dd class="cut-offRule" ></dd>
		<dd>
			<font>信息资源需求部门：</font>
			<font id="demandDepNameShow" style="left:170px;"></font>
			<font style="left:460px;">信息资源提供部门：</font>
			<font id="proDepNameShow" style="left:600px;"></font>
		</dd>
		<dd>
			<font>需求名称：</font>
			<font id="demandNameShow" style="left:170px;"></font>
			<font style="left:460px;">资源匹配关键字：</font>
			<font id="keyWordShow" style="left:600px;"></font>
		</dd>
		<dd style="height: 70px;">
			<font style="height: 50px;">需求内容：<br>（须细化到数据项）</font>
			<textarea class="textareaShow" style="left:170px;width: 675px;"  rows="3" id="demantDetailShow" readonly="readonly" ></textarea>
		</dd>
		<dd>
			<font>期望提供方式：</font>
			<font id="accessModeNameShow" style="left:170px;"></font>
			<font style="left:460px;">期望共享服务方式：</font>
			<font id="serveModeNameShow" style="left:600px;"></font>
		</dd>
		<dd>
			<font>期望更新频率：</font>
			<font id="frequencyNameShow" style="left:170px;"></font>
		</dd>
		<dd style="height: 70px;">
			<font style="height: 40px;">用途：</font>
			<textarea class="textareaShow" style="left:170px;width: 675px;" rows="3" id="demandUseShow" readonly="readonly"></textarea>
		</dd>
		<dd>
			<font>申请人：</font>
			<font id="createrNameShow" style="left:170px;width:200px;"></font>
			<font style="left:460px;">申请时间：</font>
			<font id="saveTimeShow" style="left:600px;"></font>
		</dd>
		<dd id="rev_groud" class="groud_tital">撤销 </dd>
		<dd style="height: 70px;">
				<font style="height: 40px;">说明：</font>
				<textarea style="left:170px;width: 675px;" rows="3" id="remarkRev" placeholder="请输入说明"></textarea>
		</dd>
		<dd class="cut-offRule" id="last_cut" ></dd>
	</dl>
	<dl align="left" class="pop_foot">
		<dd>
			<a class="subA" href="javascript:" onclick="revDem();" style="position:absolute;right:100px; ">提交</a>  
			<a class="canA" href="javascript:" onclick="cancelPopup();" style="position:absolute;right:30px;">取消</a>  
		</dd>
	</dl>

	