<meta name="content-type" content="text/html; charset=UTF-8">
	
	<script type="text/javascript" src="views/demand/staChooseCol.js?v=2"></script>
	
	<dl align="left" style="height: 30px;">
		<dd id="page_tital" class="page_tital"></dd>
	</dl>
    <dl align="left" style="top: 30px;border-top:0px;">
    	<dd id="groud_tital" class="groud_tital">请选择需要导出的列</dd>
		<dd class="cut-offRule" ></dd>
		<dd style="height: 360px; padding-top: 10px;" id="colList">
			<div class="gridPanel">
				    <table id="colResGrid"></table>
		    </div>
		</dd>
		<dd class="cut-offRule" id="last_cut" ></dd>
		<dd>
			<a class="subA" href="javascript:" onclick="uploadExcPro();" style="position:absolute;width: 20%; left:20% ">导出</a>  
			<a class="subA" href="javascript:" onclick="cancelPopup();" style="position:absolute;width: 20%; right:20% ">取消</a>  
		</dd>
		<dd class="cut-offRule" ></dd>
	</dl>
	
	<form id="exporStaProForm" method='post' target='_blank'></form>

	