<meta name="content-type" content="text/html; charset=UTF-8">

<script type="text/javascript" src="views/demand/statistic.js?v=1"></script>


<div class="showList" style='height:100px;'>
	<div class="screen">
<!-- 		<div style="left:0px;width: 150px;">信息资源提供部门：</div> -->
		<div style="left:20px;width: 200px;">
			<input id="proDepId" style="width:200px;display:none;"readonly="readonly" placeholder="请选择信息资源提供部门"/>
			<input id="proDepName" style="width:200px;"readonly="readonly" placeholder="请选择信息资源提供部门"/>
		</div>
		
		<div style="left:230px;width: 90px;">统计时间：</div>
		
		<div style="left:320px;width: 120px;">
			<select id="sta_timeType" name="sta_timeType" style="width:120px;">
				<option value="1">选择起止时间</option>
				<option value="2">选择时间点</option>
			</select>
		</div>
		
		<div style="left:450px;width:100px;" name="type_quantum">
			<input id="stratDate" name="stratDate" style="width: 100px;" class="Wdate" readonly="readonly"/>
		</div>
		<div style="left:550px;width:25px;" name="type_quantum">
			至
		</div>
		<div style="left:575px;width:100px;" name="type_quantum">
			<input id="endDate" name="endDate" style="width: 100px;" class="Wdate" readonly="readonly"/>
		</div>

		
		<div style="left:450px;width:25px;" name="type_day">
			前
		</div>
		<div style="left:475px;width:30px;" name="type_day">
			<input id="beforeDay" name="beforeDay" style="width: 30px;"/>
		</div>
		<div style="left:505px;width:25px;" name="type_day">
			天
		</div>
		<div style="left:530px;width:100px;" name="type_day">
			<input id="dayDate" name="dayDate" style="width: 100px;" class="Wdate" readonly="readonly"/>
		</div>
		<div style="left:630px;width:25px;" name="type_day">
			后
		</div>
		<div style="left:655px;width:30px;" name="type_day">
			<input id="afterDay" name="beforeDay" style="width: 30px;"/>
		</div>
		<div style="left:685px;width:25px;" name="type_day">
			天
		</div>
		
		<div style="left:720px;width: 60px;">
			<a class="srcBut" href="javascript:" onclick="searchStaPro();" >查询</a>
		</div>
		<div style="left:790px;width:60px;">
			<a class="resetBut" href="javascript:" onclick="resetStaPro();" >重置</a>
		</div>
		<div style="left:860px;width:75px;">
			<a class="but" href="javascript:" style="width: 75px;" onclick="uploadStaPro();" >导出统计表</a>
		</div>
		
<!-- 		<div style="left:685px;width: 60px;"> -->
<!-- 			<a class="srcBut" href="javascript:" onclick="searchStaPro();" >查询</a> -->
<!-- 		</div> -->
<!-- 		<div style="left:755px;width:60px;"> -->
<!-- 			<a class="resetBut" href="javascript:" onclick="resetStaPro();" >重置</a> -->
<!-- 		</div> -->
<!-- 		<div style="left:825px;width:75px;"> -->
<!-- 			<a class="but" href="javascript:" style="width: 75px;" onclick="uploadStaPro();" >导出统计表</a> -->
<!-- 		</div> -->
	</div>
	<div class="gridPanel">
	    <table id="statisticGrid"></table>
	    <div id="statisticGridPager"></div>
    </div>
  </div>

